<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="/static/script.js"></script>
</head>
<body bgcolor="#121212">
    <button id="themeToggle">Сменить тему оформления</button>
    <h2>Вход в "Образовательное облако"</h2>
    <h2>
        <div id="logo">
            <img src="/static/cloud_logo.png" width="350" height="300" alt="здесь должен быть логотип, но похоже что-то пошло не так">
        </div>
    </h2>
    <form method="POST">
        <label for="username">Имя пользователя</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Войти</button>
        <p>Нет аккаунта? <a href="{{ url_for('register') }}">Регистрация</a></p>
        <p>Если возникли проблемы обратитесь к администратору. Обратная связь: <a href="https://t.me/nyromancer">Я.П.</a></p>
    </form>
    <script>
            // Функция для установки темы
    function setTheme(theme) {
        document.body.className = theme;
        localStorage.setItem('theme', theme); // Сохраняем тему в localStorage
    }

    // Обработчик события для переключения темы
    document.getElementById('themeToggle').addEventListener('click', function() {
        const currentTheme = document.body.className;
        if (currentTheme === 'light-theme') {
            setTheme('dark-theme');
        } else {
            setTheme('light-theme');
        }
    });

    // При загрузке страницы проверяем сохранённую тему
    window.addEventListener('load', function() {
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            setTheme(savedTheme); // Устанавливаем сохранённую тему
        } else {
            setTheme('light-theme'); // Устанавливаем светлую тему по умолчанию
        }
    });
    </script>
</body>
</html>
