<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="/static/script.js"></script>
</head>
<body bgcolor="#121212">
    <button id="themeToggle">Перейти на темную сторону или обратно</button>
    <h2>Регистрация</h2>
    <form method="POST">
        <label for="username">Логин</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Зарегистрироваться</button>
    </form>
    <script>
                    // Функция для установки темы
    function setTheme(theme) {
        document.body.className = theme;
        localStorage.setItem('theme', theme); // Сохраняем тему в localStorage
    }

    // Обработчик события для переключения темы
    document.getElementById('themeToggle').addEventListener('click', function() {
        const currentTheme = document.body.className;
        if (currentTheme === 'light-theme') {
            setTheme('dark-theme');
        } else {
            setTheme('light-theme');
        }
    });

    // При загрузке страницы проверяем сохранённую тему
    window.addEventListener('load', function() {
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            setTheme(savedTheme); // Устанавливаем сохранённую тему
        } else {
            setTheme('light-theme'); // Устанавливаем светлую тему по умолчанию
        }
    });
    </script>

</body>
</html>
